/*
CSS
1. Nivel de especifidad, cuanto menos elementos modifique, mas especifidad

Estilo de inline
Selección por id
Selección por clase
Selección por etiqueta
Selección por *

2. Lugar en la cascada
*/
body{
    margin: 0;
}

.ejemplo {
    background-color: tomato;
    border: 10px solid black;
    height: 200px;
}

.flex{
    display: flex;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 500px;
    aspect-ratio: 1;
    background-color: aqua;
    font-size: 3em;
    color: brown;
}

.flex p{
    margin: 0;
    text-align: center;
}
