body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .menu a {
    text-decoration: none;
    color: #333;
  }
  
  .hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  @media screen and (max-width: 768px) {
    .menu {
      display: none;
    }
  
    .hamburger-menu {
      display: flex;
    }
  
    .hamburger-menu.active .bar:first-child {
      transform: rotate(45deg) translate(5px, 5px);
    }
  
    .hamburger-menu.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger-menu.active .bar:last-child {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  
    .menu li {
      margin: 10px 0;
    }
  }