body{
   margin: 0;
   
   
}

header{
    background-color: black;
                color: yellow;
                text-align: center;
                font-size: 2em;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
    
}
.menu{
                display: flex;
                justify-content: space-around;
               /* flex-direction: column; */
                padding: 0;
                margin: 0;
                list-style: none;
              
}
nav{
    background: linear-gradient(grey,black);
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
.navlink{
    font-size: 20px;
    list-style: none;
    padding: 10px 12px;
    
}
.navlink a{
    color: red;
    text-decoration: none;

}

.menu a:hover{
    width: auto;
    color: red;
    background: linear-gradient(black,grey);
}
.container{
    display: grid;
    
}

.top{
    margin-top: 30px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    align-self: center;
    justify-self: center;
    width: 800px;
}
.descripcion{
    border-bottom: 1px solid lightgrey;
    align-self: center;
    justify-self: center;
    width: 800px;
}

h3{
    display: grid;
    justify-content: flex-start;
    font-family: sans-serif;
}
.card{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
   /* width: 300px;*/
    flex: 1 0 300px;
    display: flex;
    flex-direction: column;
    min-height: 600px;
    flex-wrap: wrap;
}

.lista{
    columns: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    height: 30px;
    bottom: 0;
    background-color: black;
    width: 100%;
    color: yellow;
    justify-content: center;
    text-align: center;
}
.imgcard{
    border-radius: 100%;
    width: 10em;
    height: 10em;
}
.textcard{
    text-align: justify;
}
